{
    "extends": ["airbnb", "prettier"],
    "plugins": ["prettier", "jest"],
    "env": {
        "jest/globals": true
    },
    "rules": {
        "prettier/prettier": ["error"],
        "no-console": "error",
        "camelcase": "off",
        "no-plusplus": [
            "error",
            {
                "allowForLoopAfterthoughts": true
            }
        ]
    }
}
